.flex {
  display: flex;

  &-between {
    display: flex;
    justify-content: space-between;
  }

  &-column {
    flex-direction: column;
  }
}

body {
  margin: 0;
  padding: 0;
  background-size: contain;
  background: url('background.png') center /500px;
}

.fill-height {
  min-height: 100vh;
}

footer,
header,
main {
  background-color: rgba(0, .0, 0, .8);
}



body,
a {
  color: #FFF;
  text-shadow: 2px 2px 4px rgba(21, 37, 183, 0.248);
  font-family: 'Arial', sans-serif;
}

.wrapper {
  margin: auto;
  width: 728px;
}

.border-bottom {
  border-bottom: solid 1px #E5E5E5;
  padding-bottom: 20px;
}

.paragraph-border {
  border-left: solid 3px black;
  padding-left: 20px;
}

button {
  font-family: 'Arial', sans-serif;
  background-color: limegreen;
  color: #333;
  border: 2px solid #333;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #333;
    color: #fff;
    background-color: #000;
  }

  &:active {
    background-color: #666;
    border-color: #666;
  }
}